$tablet-width: 768px;
$desktop-width: 960px; // и меньше
$mobile-width: 480px;


@mixin media {
  @media (max-width: #{$desktop-width}) {
    @content;
  }
}

@mixin max-media($max) { // кастом от **** и меньше
  @media (max-width: #{$max}) {
    @content;
  }
}

@mixin media($max,$min) { // кастом от и до
  @media (max-width: #{$max}) and (min-width: #{$min}) {
    @content;
  }
}